*{
    margin:0px;
    padding:0px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* display:flex; */
    background-color:rgb(173, 202, 228);
    background-image: url(dspmu.jpeg);
    background-position-x: absolute ;
     background-position:center;
    /* background-position: center; */
    background-size: contain;
    background-repeat:no-repeat;
    /* background-size:auto; */
    /* height:auto; */
}
header{
    /* padding-top:25px; */
    display: flex;
    width:100%;
    background-color:rgb(202, 162, 101);
    height:60px;
    /* margin:4px; */
    padding:15px;
}

img{
    width:60px;
    height:60px;
    padding-top:4px;
    margin-right:8px;
    border-radius:50%;
}
input{
    display:flex;
    height:40px;
    width:500px;
    /* padding-top: */
    margin-left:450px;
   
    /* align-items: end; */
    /* justify-content:space-around;
    justify-content: end;  */
    border:2px black solid;
    border-radius:8px;
}
input::placeholder{
    padding-left: 4px;
    margin:3px;
    font-size:13px;
}
nav{
    
    background-color:rgb(187, 172, 129);
    width:100%;
    height:60px;
}
nav ul{
    display:flex;
    width:100%;
    height:30px;

}
nav ul li{
    /* display:flex; */
    color:black;
    list-style: none;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin:20px;
    /* padding:15px; */
    margin-left: 50px;
}
a{
    color:black;
    font:bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* list-style: none;
     */
     text-decoration: none;
}